.App {
    --header_height: 60px;
    margin-left: 20px;
}

.hw {

}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 5%;
    padding: 10px;
}


