.message {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}
.wrapper{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-right: 5px;
    margin-left: 5px;

}

.nameAndMessage {
    background: #0059b3;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    width: 40%;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 5px;
}
.friendImageAndText {
    height: 40px;
}

.friendImageAndText img {
    width: 40px;
}

.friendText {

}

.friendText:after {

}

.friendName {
    text-align: start;
    font-weight: bold;
    padding-bottom: 10px;
}

.friendMessageText {

}

.friendTime {
    font-size: 10px;
    margin-left: 8px;
}
